{% include 'incl/header.twig' %}
<link rel="stylesheet" href="{{ theme_url }}/css/style.min.css" type="text/css" />

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
