/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $base-blue;
    font-size: 10px;
}

.social a {
    text-decoration: none;
    height: 24px;
    line-height: 24px;
    font-size: 20px;
}

.footer .social {
    font-size: 2rem;
}
