@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'technologies';
@import 'technology';
@import 'report';
@import 'blockquotes';
@import 'code';
@import 'footer';

//import fontawesome
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';


// import google font
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');

* {
    color: $font-alternative-color;
}

html {
    background-color: $dark-background;

}

body {
    background-color: $dark-background;
    font-family: 'Lato', sans-serif;
    margin: $base-margin;
    padding-bottom: $base-padding;
}

h1 {
    a {
        font-family: 'Times New Roman', Times, serif;
        color: $accent-color;
    } 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
}

.nav li a {
    color: $font-alternative-color;
}

img { 
    max-width: 100%;
    border-radius: 10%;
    margin: $base-margin;
    float: right;
    filter: drop-shadow(5px 5px 5px $transparent-alternative);
}

pre {
    background-color: $dark-background;
    color: $font-alternative-color;
}

code {
    background-color: $dark-background;
    color: $font-alternative-color;
}


