@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'technologies';
@import 'technology';
@import 'report';
@import 'blockquotes';
@import 'code';
@import 'header';
@import 'footer';
@import 'analysis';

//import fontawesome
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';


// import google font
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Poppins&family=Rubik@1&display=swap');

body {
    background-color: $base-yellow;
    font-family: 'Poppins', sans-serif;
    margin: $base-margin;
    padding-bottom: $base-padding;
}

* {
    color: $font-color;
}

h1 {
    a {
        font-family: 'Times New Roman', Times, serif;
        color: $base-pink;
    } 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
}

img { 
    max-width: 100%;
    border-radius: 10%;
    margin: $base-margin;
    float: right;
    filter: drop-shadow(5px 5px 5px $base-blue);
}
