// Analogt färgschema för ljust tema
$base-beige: #ebc696;
$base-pink: #f29dcf;
$base-blue: #919cdb;
$base-green: #a0f2c8;
$base-yellow: #ebe79b;

// Färgschema för mörkt tema
$dark-background: rgb(49, 49, 49);


$font-color: #000;
$font-alternative-color: #fff;
$transparent-alternative: rgba(164, 164, 164, 0.585);
$accent-color: #ee4daebe;
$background-color: #fff;
$background-alternative-color: #e0fbfc;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;
